* {
  margin: 0;
  padding: 0;
}

#canvas {
  /* background-color: green; */
}

#canvas2 {
  position: absolute;
  top: 0;
  left: 0;
  background-color: red;
}

div {
  width: 40px;
  text-align: center;
  margin-top: 30px;
  background-color: #ccc;
  font-size: 12px;
  transition: all 0.5s ease;
  cursor: pointer;
}

div:hover {
  background-color: #000;
  color: #fff;
}
